ICEBAR_OPENAI_SECRET_KEY=OPENAI-API-KEY
ICEBAR_OPENAI_MODEL=gpt-3.5-turbo
ICEBAR_OPENAI_TEMPERATURE=1.0f
ICEBAR_OPENAI_N=1
ICEBAR_OPENAI_MAX_TOKENS=2000
ICEBAR_OPENAI_PROMPTS_INITIAL_BUGGY_MODEL="The following Alloy model does not satisfy the oracle, fix the model to satisfy the oracle. Your response must be either Yes followed by only your suggested model, or No."
ICEBAR_OPENAI_PROMPTS_STILL_BUGGY_MODEL="Your previous suggestions did not fix the model. I tried to fix the Alloy model as shown below but its still buggy. Provide a fix following the same instructions as before."
ICEBAR_OPENAI_PROMPTS_ORACLE="Any mention to 'oracle' will be referring to the following Alloy code"
ICEBAR_OPENAI_SPECIFY_CONTEXT=True
ICEBAR_OPENAI_CONTEXT="You are a specialist in the modeling language Alloy."
ICEBAR_OPENAI_TPM=3
ICEBAR_OPENAI_CONTEXT_MAX_MESSAGES=5